<div>
  <h2 id="page-heading" data-cy="IngresosDiariosHeading">
    <span jhiTranslate="eneApp.ingresosDiarios.home.title">Ingresos Diarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="eneApp.ingresosDiarios.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ingresos-diarios"
        [routerLink]="['/ingresos-diarios/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eneApp.ingresosDiarios.home.createLabel">Crear nuevo Ingresos Diarios</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (ingresosDiarios().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="eneApp.ingresosDiarios.home.notFound">Ningún Ingresos Diarios encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ventaNumero">
              <div class="d-flex">
                <span jhiTranslate="eneApp.ingresosDiarios.ventaNumero">Venta Numero</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorVenta">
              <div class="d-flex">
                <span jhiTranslate="eneApp.ingresosDiarios.valorVenta">Valor Venta</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (ingresosDiarios of ingresosDiarios(); track trackId(ingresosDiarios)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ingresos-diarios', ingresosDiarios.id, 'view']">{{ ingresosDiarios.id }}</a>
              </td>
              <td>{{ ingresosDiarios.ventaNumero }}</td>
              <td>{{ ingresosDiarios.valorVenta }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/ingresos-diarios', ingresosDiarios.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a
                    [routerLink]="['/ingresos-diarios', ingresosDiarios.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(ingresosDiarios)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
