<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (ordenesCocina(); as ordenesCocinaRef) {
      <div>
        <h2 data-cy="ordenesCocinaDetailsHeading"><span jhiTranslate="eneApp.ordenesCocina.detail.title">Ordenes Cocina</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ ordenesCocinaRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="eneApp.ordenesCocina.nombrePlato">Nombre Plato</span></dt>
          <dd>
            <span>{{ ordenesCocinaRef.nombrePlato }}</span>
          </dd>
          <dt><span jhiTranslate="eneApp.ordenesCocina.cantidadPlato">Cantidad Plato</span></dt>
          <dd>
            <span>{{ ordenesCocinaRef.cantidadPlato }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/ordenes-cocina', ordenesCocinaRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
