<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (usuario(); as usuarioRef) {
      <div>
        <h2 data-cy="usuarioDetailsHeading"><span jhiTranslate="eneApp.usuario.detail.title">Usuario</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ usuarioRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="eneApp.usuario.nombre">Nombre</span></dt>
          <dd>
            <span>{{ usuarioRef.nombre }}</span>
          </dd>
          <dt><span jhiTranslate="eneApp.usuario.rol">Rol</span></dt>
          <dd>
            <span>{{ usuarioRef.rol }}</span>
          </dd>
          <dt><span jhiTranslate="eneApp.usuario.rut">Rut</span></dt>
          <dd>
            <span>{{ usuarioRef.rut }}</span>
          </dd>
          <dt><span jhiTranslate="eneApp.usuario.admin">Admin</span></dt>
          <dd>
            <span>{{ usuarioRef.admin }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/usuario', usuarioRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
