<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cliente-heading" data-cy="ClienteCreateUpdateHeading" jhiTranslate="eneApp.cliente.home.createOrEditLabel">
        Crear o editar Cliente
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="eneApp.cliente.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_mesa" jhiTranslate="eneApp.cliente.mesa">Mesa</label>
          <input type="number" class="form-control" name="mesa" id="field_mesa" data-cy="mesa" formControlName="mesa" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_orden" jhiTranslate="eneApp.cliente.orden">Orden</label>
          <input type="text" class="form-control" name="orden" id="field_orden" data-cy="orden" formControlName="orden" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cantidadClientes" jhiTranslate="eneApp.cliente.cantidadClientes">Cantidad Clientes</label>
          <input
            type="number"
            class="form-control"
            name="cantidadClientes"
            id="field_cantidadClientes"
            data-cy="cantidadClientes"
            formControlName="cantidadClientes"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
